<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lasttimemafia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".SettingsMenu"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AngelVoting"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".VillageVoting"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RevealDeadAfterMafia"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".OpenYourEyes"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ReavealRole"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".CloseYourEyes"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".GameIsStarting"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".CountdownTimer"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ChangeBackground"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".hostGame"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MafiaServerGame"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MafiaNetworkCode"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".NetwworkCaller"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MafiaClientGame"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Lobby"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".TextMessages"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".joinedGame"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>