<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lasttimemafia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AngelVoting"></activity>
        <activity android:name=".VillageVoting" />
        <activity android:name=".RevealDeadAfterMafia" />
        <activity android:name=".OpenYourEyes" />
        <activity android:name=".ReavealRole" />
        <activity android:name=".CloseYourEyes" />
        <activity android:name=".GameIsStarting" />
        <activity android:name=".CountdownTimer" />
        <activity android:name=".ChangeBackground" />
        <activity android:name=".hostGame" />
        <activity android:name=".MafiaServerGame" />
        <activity android:name=".MafiaNetworkCode" />
        <activity android:name=".NetwworkCaller" />
        <activity android:name=".Server" />
        <activity android:name=".MafiaClientGame" />
        <activity android:name=".Lobby" />
        <activity android:name=".TextMessages" />
        <activity android:name=".joinedGame" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>